spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/attendance_management
    username: postgres
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

